/node_modules
/vendor
/public/build
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
/.vscode
/.idea
*.log
Thumbs.db
.DS_Store